<p>&nbsp;<img src="{{ logo_img }}" /></p>
<h1>Инструкция</h1>
<ol>
  <li>Скачать и установить клиент для вашей операционной системы</li>
  <li>Запустить клиент и добавить новый сервер с помощью QR-кода либо с помощью ручной настройки.</li>
  <li>Для проверки включите VPN и обновите эту страницу. Смотрите раздел "Проверка"</li>
</ol>
<h1>Ссылки на скачивание клиента</h1>
<p><a href="{{ links.windows_client }}">Клиент для Windows</a></p>
<p><a href="{{ links.android_client }}">Клиент для Андроид</a></p>
<p><a href="{{ links.ios_client }}">Клиент для Iphone</a></p>
<h1>QR-код для настройки</h1>
<p><img src="{{ qr_img }}" alt="QR-code" width="350" height="350" /></p>
<h1>Ручные настройки</h1>
<ul>
  <li>Сервер (IP) - {{ settings.host }}</li>
  <li>Порт - {{ settings.port }}</li>
  <li>Пароль - {{ settings.password }}</li>
  <li>Метод шифрования - {{ settings.encription }}</li>
</ul>
<h1>Проверка</h1>
<ul>

  {% if check %}
  {% set txt_color = '#008000' %}
  {% set txt_text = 'работает' %}
  {% set txt_annotation = 'вы можете пользоваться заблокированными ресурсами, сайты будут считать что вы работаете с
  ip-адреса этого сервера.' %}
  {% else %}
  {% set txt_color = '#FF0000' %}
  {% set txt_text = 'не работает' %}
  {% set txt_annotation = 'убедитесь что на вашем устройстве установлен и запущен клиент Shadowsocks и перезагрузите
  страницу' %}
  {% endif %}

  <li>В настоящий момент ваш VPN <span style="color: {{ txt_color }}"><strong>{{ txt_text }}</strong></span></li>
  <li>Ваш IP: {{ ip_addr }}, {{txt_annotation}}</li>
</ul>
<h1>Попробуйте открыть некоторые заблокированные сайты</h1>
<ul>
  <li><a href="{{ links.rutor }}">Rutor - торренты на любой вкус, в том числе новинки кино</a></li>
  <li><a href="{{ links.rutracker }}">Rutracker - огромное количество торрентов с удобным поиском</a></li>
  <li><a href="{{ links.flibusta }}">Флибуста - лучшая онлайн библиотека</a></li>
  <li><a href="{{ links.instagram }}">Instagram - инстаграм</a></li>
</ul>